URxvt.depth: 24
Urxvt*termName: rxvt-unicode-256color

Xcursor.theme: OpenzoneIceSlim
!!URxvt.background: rgba:1111/1111/1111/dddd
!URxvt*background: [100]#202020
URxvt*scrollBar: false
!URxvt*boldFont: xft:Terminus:size=8,xft:tewi
!URxvt*font: xft:Terminus:regular:size=8,xft:tewi
URxvt*font: xft:Hack:size=9
URxvt*boldFont: xft:Hack:size=9
!URxvt*lineSpace: 1
!zemnl*letterSpace:1



!urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
!URxvt*font: xft:Terminess Powerline:size=12


!URxvt.font: -*-Terminus-*-*-*-*-100-*-*-*-*-iso8859-1
!URxvt*font: xft:Dejavu Sans Mono:size=9:pixelsize=11
URxvt*letterSpace: -2
URxvt*geometry: 104x26
urxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*.perl-ext-common: default,matcher,vtwheel
URxvt*.url-launcher: /usr/bin/firefox
URxvt*loginShell: true
URxvt*.matcher.button: 1
URxvt*.cursorBlink: 1
URxvt*.cursorUnderline: 1
URxvt*.scrollstyle: plain
URxvt*.internalBorder: 7
URxvt*fading: 0
zemnl*fading: 0
!URxvt*blurRadius: 90
!URxvt*shading: 20
URxvt*externalBorder: 10
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  medium
Xft.autohint: 0
Xft.lcdfilter: lcddefault



URxvt.cursor: #839496
URxvt.colorUL: #4682B4




! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary

! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
! URxvt*scrollBar:                      boolean
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*font:                           fontname
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string


! special
frost.foreground:   #ffffff
frost.background:   #1b1b1b
frost.cursorColor:  #ffffff
URxvt.colorBD:                  #CFCFCF
frost.colorUL:                  #969696
URxvt.colorIT:                  #686868

! black
frost.color0:       #3d3d3d
frost.color8:       #4d4d4d

! red
frost.color1:       #6673bf
frost.color9:       #899aff

! green
frost.color2:       #3ea290
frost.color10:      #52ad91

! yellow
frost.color3:       #b0ead9
frost.color11:      #98c9bb

! blue
frost.color4:       #31658c
frost.color12:      #477ab3

! magenta
frost.color5:       #596196
frost.color13:      #7882bf

! cyan
frost.color6:       #8292b2
frost.color14:      #95a7cc

! white
frost.color7:       #c8cacc
frost.color15:      #edeff2

! special
*.foreground:   #c5c8c6
zemnl.foreground: #c5c8c6
*.background:   #1d1f21
!*.background: #121518
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

! black
zemnl.color0:       #3d3d3d
zemnl.color8:       #4d4d4d

! red
zemnl.color1:       #6673bf
zemnl.color9:       #899aff

! green
zemnl.color2:       #3ea290
zemnl.color10:      #52ad91

! yellow
zemnl.color3:       #b0ead9
zemnl.color11:      #98c9bb

! blue
zemnl.color4:       #31658c
zemnl.color12:      #477ab3

! magenta
zemnl.color5:       #596196
zemnl.color13:      #7882bf

! cyan
zemnl.color6:       #8292b2
zemnl.color14:      #95a7cc

! white
zemnl.color7:       #9ca1a5
zemnl.color15:      #c5c8c6

z.background:  #1a1b22
z.foreground: #d4cec2
z.color0:                #1f2033
z.color1:                #60475a
z.color2:                #475e69
z.color3:                #bcaea5
z.color4:                #585c78
z.color5:                #a89391
z.color6:                #94949f
z.color7:                #bcbfb9
z.color8:                #42384e
z.color9:                #7c616e
z.color10:               #43505d
z.color11:               #d5c9b8
z.color12:               #373b56
z.color13:               #a09aa2
z.color14:               #8e8d9b
z.color15:               #d4cec2

rofi.font: Liberation 10
rofi.opacity: 85
rofi.color-window: argb:c61d1d1d,argb:c61d1d1d,argb:c61d1d1d
rofi.color-normal: argb:01d1d1d,#f8f8f8,argb:0414141,argb:c674afc2,#ffffff
rofi.color-active: argb:c6353535,#ffffff,argb:0eee8d5,argb:c64ca3e1,#ffffff
rofi.color-urgent: argb:c6fdf6e3,#da6462,argb:c6eee8d5,#da6462,argb:c6fdf6e3
rofi.fullscreen: true
rofi.lines: 10
rofi.padding: 334
rofi.separator-style: none
rofi.width: 1440
rofi.location: 6
rofi.hide-scrollbar: true
rofi.modi: run,window,windowcd,ssh
rofi.regex: true
rofi.fixed-num-lines: 10
rofi.terminal: urxvt
rofi.line-margin: 5
