URxvt.depth: 24
Urxvt*termName: rxvt-unicode-256color

Xcursor.theme: OpenzoneIceSlim
!!URxvt.background: rgba:1111/1111/1111/dddd
!URxvt*background: [100]#202020
URxvt*scrollBar: false
!URxvt*boldFont: xft:Terminus:size=8,xft:tewi
!URxvt*font: xft:Terminus:regular:size=8,xft:tewi
URxvt*font: xft:Hack-Regular:size=10,xft:Pragmata Pro
URxvt*boldFont: xft:Hack:bold:size=10,xft:Pragmata Pro
!URxvt*lineSpace: 1
!zemnl*letterSpace:1



!urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
!URxvt*font: xft:Terminess Powerline:size=12


!URxvt.font: -*-Terminus-*-*-*-*-100-*-*-*-*-iso8859-1
!URxvt*font: xft:Dejavu Sans Mono:size=9:pixelsize=11
URxvt*letterSpace: -2
URxvt*geometry: 97x26
urxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*.perl-ext-common: default,matcher,vtwheel
URxvt*.url-launcher: /usr/bin/firefox
URxvt*loginShell: true
URxvt*.matcher.button: 1
URxvt*.cursorBlink: 1
URxvt*.cursorUnderline: 1
URxvt*.scrollstyle: plain
URxvt*.internalBorder: 7
URxvt*fading: 0
zemnl*fading: 0
!URxvt*blurRadius: 90
!URxvt*shading: 20
URxvt*externalBorder: 10
Xft.dpi:        89x87
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint: false
Xft.lcdfilter: lcddefault



URxvt.cursor: #839496
URxvt.colorUL: #4682B4


! special
URxvt.colorBD:                  #CFCFCF
URxvt.colorIT:                  #686868

! special
zemnl.foreground: #c5c8c6
!*.background: #121518
*.cursorColor:  #c5c8c6

! black
zemnl.color0:       #3d3d3d
zemnl.color8:       #4d4d4d

! red
zemnl.color1:       #6673bf
zemnl.color9:       #899aff

! green
zemnl.color2:       #3ea290
zemnl.color10:      #52ad91

! yellow
zemnl.color3:       #b0ead9
zemnl.color11:      #98c9bb

! blue
zemnl.color4:       #31658c
zemnl.color12:      #477ab3

! magenta
zemnl.color5:       #596196
zemnl.color13:      #7882bf

! cyan
zemnl.color6:       #8292b2
zemnl.color14:      #95a7cc

! white
zemnl.color7:       #9ca1a5
zemnl.color15:      #c5c8c6

z.background:  #1a1b22
!z.foreground: #d4cec2
z.foreground: #a6a5af
z.color0:                #1f2033
z.color1:                #60475a
z.color2:                #475e69
z.color3:                #bcaea5
z.color4:                #585c78
z.color5:                #a89391
z.color6:                #94949f
z.color7:                #bcbfb9
z.color8:                #42384e
z.color9:                #7c616e
z.color10:               #43505d
z.color11:               #d5c9b8
!z.color12:               #373b56
z.color12:				 #5f5d90
z.color13:               #a09aa2
z.color14:               #8e8d9b
z.color15:               #c8c0d2
z.font: xft:Pragmata\ Pro:bold:pixelsize=13
z.boldFont: xft:Pragmata\ Pro:bold:pixelsize=13
z.letterSpace: -1

rofi.font: PragmataPro Bold 10.5
rofi.opacity: 100
rofi.color-enabled: true
rofi.color-window: argb:991a1b22,argb:991a1b22,argb:991a1b22
rofi.color-normal: argb:#1d1d1d,#d5d4de,argb:0014141,argb:701a1b22,#6d6ac1
rofi.color-active: argb:50585c78,#d5d4de,argb:0eee8d5,argb:994f5a9a,#ffffff
rofi.color-urgent: argb:c6676e9c,argb:00da6462,argb:c6eee8d5,argb:ffda6462,argb:c6fdf6e3
rofi.fullscreen: true
rofi.lines: 10
rofi.padding: 335
rofi.separator-style: none
rofi.width: 30
rofi.location: 0
rofi.hide-scrollbar: true
rofi.modi: run,window,windowcd,ssh
rofi.regex: true
rofi.fixed-num-lines: 10
rofi.terminal: urxvtc
rofi.line-margin: 5

#include </home/emnl/.termcolors/zu>
! Colors
*background:   bg
*foreground:   fg
*cursorColor:  wwht

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      rred
*color2:      grn
*color10:     ggrn
*color3:      ylw
*color11:     yylw
*color4:      blu
*color12:     bblu
*color5:      mag
*color13:     mmag
*color6:      cyn
*color14:     ccyn
*color7:      wht
*color15:     wwht
